<style>
  div.field{color: white;}
  div.field{text-shadow: none;}
</style>
<%= form_for(@coder) do |f| %>
  <% if @coder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coder.errors.count, "error") %> prohibited this coder from being saved:</h2>

      <ul>
      <% @coder.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <span id="form_field"><%= f.text_field :name %></span>
  </div>
  <br>

  <div class="field">
    <%= f.label :cohort %><br>
    <%= f.select :cohort, options_for_select((0..10), selected_key = 8) %>
  </div>
  <br>

  <div class="field">
    <%= f.label :twitter_handle %><br>
    @<span id="form_field"><%= f.text_field :twitter_handle %></span>
  </div>
  <br>

  <div class="field">
    <%= f.label :slack_handle %><br>
    @<span id="form_field"><%= f.text_field :slack_handle %></span>
  </div>
  <br>

  <div class="field">
    <%= f.label :facebook_username %><br>
    <span id="form_field"><%= f.text_field :facebook_username %></span>
  </div>
  <br>

  <div class="field">
    <%= f.label :github_username %><br>
    <span id="form_field"><%= f.text_field :github_username %></span>
  </div>
  <br>

  <div class="actions" style="color: grey">
    <%= f.submit %>
  </div>
<% end %>
