<p id="notice"><%= notice %></p>

<h1>Listing Coders</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Twitter handle</th>
      <th>Facebook username</th>
      <th>Github username</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coders.each do |coder| %>
      <tr>
        <td><%= coder.name %></td>
        <td><%= coder.twitter_handle %></td>
        <td><%= coder.facebook_username %></td>
        <td><%= coder.github_username %></td>
        <td><%= link_to 'Show', coder %></td>
        <td><%= link_to 'Edit', edit_coder_path(coder) %></td>
        <td><%= link_to 'Destroy', coder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Coder', new_coder_path %>
<br>
<%= link_to 'Go Home', root_path %>
