<p id="notice"><%= notice %></p>

<h1>Your Network</h1>

<!-- <div class="row">
  <div class="col-md-*"> -->
    <div class="flexing">
      <% @coders.each do |coder| %>
      <!-- replace below with the ruby code for images -->
        <br>
        <br>
        <div>
          <br>
          <br>
          <div class="index_pic">
            <% coder.picture = "https://twitter.com/#{coder.twitter_handle}/profile_image?size=original" %>
            <%= image_tag("#{coder.picture}", size: "200x200") %>
          </div>
          <br>
          <p id="index_text"><%= coder.name %>, C<%= coder.cohort %></p>
          <br>
          <%= link_to 'Show', coder, class:"btn btn-primary btn-sm" %>
          <%= link_to 'Edit', edit_coder_path(coder), class:"btn btn-info btn-sm" %>
          <%= link_to 'Delete', coder, class:"btn btn-danger btn-sm", method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
        <br>
        <br>
      <% end %>
    </div>
  <!-- </div>
</div> -->
<br>
<br>
<%= link_to 'Add Connection', new_coder_path %>
<br>
<%= link_to 'Go Home', root_path %>
