<p id="notice"><%= notice %></p>


    <% @coders.each do |coder| %>
    <!-- insert html code to make many indexes here -->
        <%= coder.name %>
        <%= coder.cohort %>
        <%= link_to 'Show', coder %>
        <%= link_to 'Edit', edit_coder_path(coder) %>
        <%= link_to 'Destroy', coder, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>

<br>

<%= link_to 'New Coder', new_coder_path %>
<br>
