<p id="notice"><%= notice %></p>

<h1>Your Network</h1>

    <% @coders.each do |coder| %>

      picture.jpg
      <%= coder.name %>
      <%= coder.cohort %>
      <%= link_to 'Visit Profile', coder %>
      <%= link_to 'Edit', edit_coder_path(coder) %>
      <%= link_to 'Remove', coder, method: :delete, data: { confirm: 'Are you sure?' } %>
      <br/>
    <% end %>

<br>

<%= link_to 'Add Connection', new_coder_path %>
<br>
<%= link_to 'Go Home', root_path %>
