<p id="notice"><%= notice %></p>

<p>
  <strong>Picture:</strong>
</p>

<%= image_tag("#{@coder.picture}", size: "200x200") %>

<p>
  <strong>Name:</strong>
  <%= @coder.name %>
</p>

<p>
  <strong>Cohort:</strong>
  <%= @coder.cohort %>
</p>

<p>
  <strong>Twitter handle:</strong>
  <%= @coder.twitter_handle %>
</p>

<p>
  <strong>Slack handle:</strong>
  <%= @coder.slack_handle %>
</p>

<p>
  <strong>Facebook username:</strong>
  <%= @coder.facebook_username %>
</p>

<p>
  <strong>Github username:</strong>
  <%= @coder.github_username %>
</p>

<%= link_to 'Edit', edit_coder_path(@coder) %> |
<%= link_to 'Back', coders_path %>

<%= render 'tweets' %>
<%= render 'slacks' %>
