

<iframe id="publishiframe" style="display:none;" src="chrome-extension://jgnbklefkgedfbpjebhjgibfnobjcbli/template/content-script.html"></iframe>


    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><%= link_to 'Home', root_path %></li>
            <li role="presentation" class="active"><%= link_to 'Back To Network', coders_path %></li>
            <li role="presentation" class="active"><%= link_to 'Edit Connection', edit_coder_path(@coder) %> </li>


          </ul>
        </nav>
      </div>

      <!-- <div class="jumbotron">
        <h1>Jumbotron heading</h1>
        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
      </div> -->

      <div class="row marketing">
        <p class="bg-success"><%= notice %></p>
        <div id='profile_pic' class="col-lg-3">
          <p><div class="thumbnail">
            <h2><%= @coder.name %></h2>
            <%= image_tag("#{@coder.picture}", size: "200x200") %>
             <div class="caption">
               <h4>Wyncode Academy</h4>
               <h4>Miami | Cohort <%= @coder.cohort %></h4>
               <p>
                 <strong>Twitter:</strong>
                 <%= @coder.twitter_handle %>
               </p>

               <p>
                 <strong>Slack:</strong>
                 <%= @coder.slack_handle %>
               </p>

               <p>
                 <strong>Facebook:</strong>
                 <%= @coder.facebook_username %>
               </p>

               <p>
                 <strong>Github:</strong>
                 <%= @coder.github_username %>
               </p>

              </div>
            </div>
          </p>
        </div>


        <div class="col-lg-4">
          <h1>Tweets</h1>
          <p class="tweets"><%= render 'tweets' %></p>
        </div>

          <!-- <h4>Github Repos</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p> -->

          <!-- <h4>Linkedin Headlines</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p> -->

          <div id='slack' class="col-lg-3">
            <h1>Slacks</h1>
            <p class="slacks"><%= render 'slacks' %></p>
          </div>

          <div class="col-lg-1">
            <ul>
              <li><%= image_tag("Twitter_logo_blue.png", width: "70") %><%= @coder.twitter_handle %></li>
              <li><%= image_tag("slack_logo.png", width: "80") %><%= @coder.slack_handle %></li>
              <li><%= image_tag("Facebook_logo_blue.png", width: "70") %><%= @coder.facebook_username %></li>
              <li><%= image_tag("Github_logo_black.png", width: "70") %><%= @coder.github_username %></li>
            </ul>
          </div>

          <!-- <h4>Facebook Posts</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p> -->

      </div>

      <footer class="footer">
        <p></p>
      </footer>

    </div> <!-- /container -->
