<iframe id="publishiframe" style="display:none;" src="chrome-extension://jgnbklefkgedfbpjebhjgibfnobjcbli/template/content-script.html"></iframe>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><%= link_to 'Home', root_path %></li>
            <li role="presentation"><%= link_to 'Back To Network', coders_path %></li>
            <li role="presentation"><%= link_to 'Edit This Connection', edit_coder_path(@coder) %> </li>



          </ul>
        </nav>
      </div>

      <!-- <div class="jumbotron">
        <h1>Jumbotron heading</h1>
        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
      </div> -->

      <div class="row marketing">
        <p id="notice"><%= notice %></p>
        <div id='profile_pic' class="col-lg-3">
          <p><div class="thumbnail">
            <%= image_tag("#{@coder.picture}", size: "200x200") %>
             <div class="caption">
               <h2><%= @coder.name %></h2>
               <h4>Miami | Cohort <%= @coder.cohort %></h4>

               <p>
                 <strong>Twitter:</strong>
                 <%= @coder.twitter_handle %>
               </p>

               <p>
                 <strong>Slack:</strong>
                 <%= @coder.slack_handle %>
               </p>

               <p>
                 <strong>Facebook:</strong>
                 <%= @coder.facebook_username %>
               </p>

               <p>
                 <strong>Github:</strong>
                 <%= @coder.github_username %>
               </p>

              </div>
            </div>
          </p>
        </div>


        <div class="col-lg-6">
          <h1>Twitter Tweets</h1>
          <p class="tweets"><%= render 'tweets' %></p>
        </div>

          <!-- <h4>Github Repos</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p> -->

          <!-- <h4>Linkedin Headlines</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p> -->

          <div class="col-lg-6">
          <h1>Slack Chats</h1>
          <p class="slacks"><%= render 'slacks' %></p>
        </div>

          <!-- <h4>Facebook Posts</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p> -->

      </div>

      <footer class="footer">
        <p></p>
      </footer>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>


<div class="notify js-notify">
    <div class="notify__loader">
    </div>
    <div class="notify__icon"></div>
    <div class="notify__body">
      <div class="notify__body__message">
        <span class="js-notify-message">There was an error loading this message</span>
        <span class="notify__body__actions js-notify-action">
          <a href="https://web.crowdfireapp.com/#/publish/timeline" target="_blank">
            Go to Timeline
          </a>
        </span>
      </div>
      <span class="arrow arrow--small">⤴</span>
    </div>
  </div><span id="publishImageBtn" style="display: none; position: absolute; z-index: 8675400; width: 100px; height: 25px; opacity: 0.9; cursor: pointer; border-radius: 4px; background-image: url(&quot;chrome-extension://jgnbklefkgedfbpjebhjgibfnobjcbli/images/publish-image.png&quot;); background-size: 100px 25px;"></span><span id="selectedIcon" style="display: none; position: absolute; z-index: 8675400; width: 40px; height: 40px; cursor: pointer; border-radius: 4px; background-image: url(&quot;chrome-extension://jgnbklefkgedfbpjebhjgibfnobjcbli/images/selected-icon.png&quot;); background-size: cover;"></span><script type="text/javascript">(function () {
        return window.SIG_EXT = {};
      })()</script>
